$firstNewsHeight: 37rem;
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%),url("asset/dot.png"), url("asset/arcade_scoring.jpg");
    background-position: 0 0, 0 0, bottom;
    background-size: auto, auto, cover;
    background-repeat: no-repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    main.ui.container{
        padding: 0 2% 2%;
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0.8) 0%, rgba(255,255,255, 0.8) 100%);
        border-radius: 0 0 2% 2%;
    }
    >.header{
        nav{
            margin-left: (100%-90);
            margin-right: (100%-90);
            padding: 10px 0 ;
            div.menu{
                div.item.menu a.dark_hover:hover{
                    transition: color 0.25s ease-in-out;
                    color: #000000;
                }
            }
        }
        background-color: #767676;
    }
}

.logo{
    height: 100px;
    width: 100px;
}

.read_container{
    margin-left: 33%;
    margin-right: 33%;
}


.flexbox_horizontale{
    display: flex;
    justify-content: space-between;
}


.flexbox_vertical{
    display: flex;
    flex-direction: column;
}

.flex_center{
    justify-content: center;
}

.flex_center_center{
    justify-content: center;
    align-items: center;
}

.flex_space_between{
    justify-content: space-between;
}

.flex_stretch{
    align-content: stretch;
}

.first_news{
    height: $firstNewsHeight;
    flex-wrap: wrap;

    figure{
        margin: 0;
        position: relative;
    }

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        transition:all 0.25s ease-in-out;
    }

}

@each $new in one two three{
    .first_news_#{$new}{
        width: 66%;
        height: 37rem;

        overflow: hidden;

        &:hover{
            img{
                transform: scale(1.15,1.15);
            }
            .overlay{
                background-color: rgba(0,0,0,0.65);
                transition: background-color 0.25s ease-in-out;
            }
            figcaption{
                transform: translateY(-100%);
                transition: transform 0.25s ease-in-out;
            }
        }
        .overlay{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0);
            transition: background-color 0.25s ease-in-out;
        }

        figcaption{
            position: absolute;
            width: 100%;
            color: white;
            transform: translateY(100%);
            transition: transform 0.25s ease-in-out;

            padding: 5%;

            .categorie{
                text-transform: uppercase;
            }
            .title{
                font-weight: bold;
            }
        }
    }
}

.first_news_two{
    width: 33%;
    height: 18.5rem;
}
.first_news_three{
    width: 33%;
    height: 18.5rem;
}

.list_news{

    .header_flux{
        margin: 2% 0;
    }

    table{
        width: 100%;
        table-layout: fixed;
    }

    thead{
        visibility: collapse;
    }

    tbody{
        tr{
            td{
                white-space: nowrap;
                overflow: hidden;
                word-break: break-word;
                text-overflow: ellipsis;
                a.grey_visited{
                    color: #BEBEBE;
                }
            }
        }
    }
}

footer{
    background-color: #767676;
    color: white;
}

.footer{
    margin-left: (100%-90);
    margin-right: (100%-90);
    margin-top: 2%;

    div{
        //flex-grow: 1;
        margin: 2% 0;
    }

    >div:not(:first-child){
        padding-left: 25%;
        border-left: black solid 1px;
    }
}


























article {
    .cover{
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .title{
        text-align: center;
    }

    .block_p{
        margin-top: 3%;
        .image_article{
            height: 150px;
            margin: auto 1%;
        }
    }
}

.search_result{
    @extend .list_news;
    .header_result{
        @extend .header_flux
    }
}