.logo{
    height: 90px;
    width: 90px;
}

div.pusher > .header{
    background-color: #767676;
    padding: 1% 0;
}

.mini_menu{
    flex-grow: 1;
    .search_field{
        flex-grow: 1;
    }
}

.flexbox_horizontale{
    display: flex;
    justify-content: space-between;
}


.flexbox_vertical{
    display: flex;
    flex-direction: column;
}

.flex_center{
    justify-content: center;
}

.flex_center_center{
    justify-content: center;
    align-items: center;
}

.flex_space_between{
    justify-content: space-between;
}

.flex_stretch{
    align-content: stretch;
}

.first_news{
    figure{
        margin: 0;
        position: relative;
        max-height: 200px;
    }
    img{
        max-height: 200px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .overlay{
        display: none;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 50%;

    }
    figcaption{
        position: absolute;
        width: 100%;
        color: white;
        transform: translateY(-100%);
        background-color: rgba(0,0,0,0.65);
        padding: 5%;

        .categorie{
            text-transform: uppercase;
        }
        .title{
            font-weight: bold;
        }
    }
}

.list_news{
    .header_flux{
        margin: 2% 0;
    }
    table.ui.table{
        thead{
            display: none;
        }
    }
    a.grey_visited{
        color: #BEBEBE;
    }
}

footer{
    background-color: #767676;
    color: white;
}


.footer{
    margin-left: (100%/8);
    margin-right: (100%/8);
    margin-top: 2%;

    div{
        flex-grow: 1;
        padding: 10%;
    }

    >div:not(:first-child){
        border-top: black solid 1px;
    }
}

article {
    .cover{
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .title{
        text-align: center;
    }

    .block_p{
        margin-top: 3%;
        .image_article{
            height: 150px;
            width: auto;
            object-fit: contain;
            margin: auto 1%;
        }
    }
}