.logo {
  height: 90px;
  width: 90px;
}

div.pusher > .header {
  background-color: #767676;
  padding: 1% 0;
}

.mini_menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mini_menu .search_field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexbox_horizontale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexbox_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_center_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.first_news figure {
  margin: 0;
  position: relative;
  max-height: 200px;
}

.first_news img {
  max-height: 200px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.first_news .overlay {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
}

.first_news figcaption {
  position: absolute;
  width: 100%;
  color: white;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.65);
  padding: 5%;
}

.first_news figcaption .categorie {
  text-transform: uppercase;
}

.first_news figcaption .title {
  font-weight: bold;
}

.list_news .header_flux {
  margin: 2% 0;
}

.list_news table.ui.table thead {
  display: none;
}

.list_news a.grey_visited {
  color: #BEBEBE;
}

footer {
  background-color: #767676;
  color: white;
}

.footer {
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 2%;
}

.footer div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10%;
}

.footer > div:not(:first-child) {
  border-top: black solid 1px;
}

article .cover {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

article .title {
  text-align: center;
}

article .block_p {
  margin-top: 3%;
}

article .block_p .image_article {
  height: 150px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto 1%;
}
