body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("asset/dot.png"), url("asset/arcade_scoring.jpg");
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url("asset/dot.png"), url("asset/arcade_scoring.jpg");
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url("asset/dot.png"), url("asset/arcade_scoring.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url("asset/dot.png"), url("asset/arcade_scoring.jpg");
  background-position: 0 0, 0 0, bottom;
  background-size: auto, auto, cover;
  background-repeat: no-repeat, repeat, no-repeat;
  background-attachment: fixed, fixed, fixed;
}

body main.ui.container {
  padding: 0 2% 2%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  border-radius: 0 0 2% 2%;
}

body > .header {
  background-color: #767676;
}

body > .header nav {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 0;
}

body > .header nav div.menu div.item.menu a.dark_hover:hover {
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  color: #000000;
}

.logo {
  height: 100px;
  width: 100px;
}

.read_container {
  margin-left: 33%;
  margin-right: 33%;
}

.flexbox_horizontale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexbox_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_center_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.first_news {
  height: 37rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first_news figure {
  margin: 0;
  position: relative;
}

.first_news img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.first_news_one {
  width: 66%;
  height: 37rem;
  overflow: hidden;
}

.first_news_one:hover img {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.first_news_one:hover .overlay {
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.first_news_one:hover figcaption {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.first_news_one .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.first_news_one figcaption {
  position: absolute;
  width: 100%;
  color: white;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  padding: 5%;
}

.first_news_one figcaption .categorie {
  text-transform: uppercase;
}

.first_news_one figcaption .title {
  font-weight: bold;
}

.first_news_two {
  width: 66%;
  height: 37rem;
  overflow: hidden;
}

.first_news_two:hover img {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.first_news_two:hover .overlay {
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.first_news_two:hover figcaption {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.first_news_two .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.first_news_two figcaption {
  position: absolute;
  width: 100%;
  color: white;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  padding: 5%;
}

.first_news_two figcaption .categorie {
  text-transform: uppercase;
}

.first_news_two figcaption .title {
  font-weight: bold;
}

.first_news_three {
  width: 66%;
  height: 37rem;
  overflow: hidden;
}

.first_news_three:hover img {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.first_news_three:hover .overlay {
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.first_news_three:hover figcaption {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.first_news_three .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.first_news_three figcaption {
  position: absolute;
  width: 100%;
  color: white;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  padding: 5%;
}

.first_news_three figcaption .categorie {
  text-transform: uppercase;
}

.first_news_three figcaption .title {
  font-weight: bold;
}

.first_news_two {
  width: 33%;
  height: 18.5rem;
}

.first_news_three {
  width: 33%;
  height: 18.5rem;
}

.list_news .header_flux, .search_result .header_flux, .search_result .header_result {
  margin: 2% 0;
}

.list_news table, .search_result table {
  width: 100%;
  table-layout: fixed;
}

.list_news thead, .search_result thead {
  visibility: collapse;
}

.list_news tbody tr td, .search_result tbody tr td {
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.list_news tbody tr td a.grey_visited, .search_result tbody tr td a.grey_visited {
  color: #BEBEBE;
}

footer {
  background-color: #767676;
  color: white;
}

.footer {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.footer div {
  margin: 2% 0;
}

.footer > div:not(:first-child) {
  padding-left: 25%;
  border-left: black solid 1px;
}

article .cover {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

article .title {
  text-align: center;
}

article .block_p {
  margin-top: 3%;
}

article .block_p .image_article {
  height: 150px;
  margin: auto 1%;
}
