.logo{
    height: 100px;
    width: 100px;
}

.flexbox_horizontale{
    display: flex;
    justify-content: space-between;
}


.flexbox_vertical{
    display: flex;
    flex-direction: column;
}

.flex_center{
    justify-content: center;
}

.flex_center_center{
    justify-content: center;
    align-items: center;
}

.flex_space_between{
    justify-content: space-between;
}

.flex_stretch{
    align-content: stretch;
}

.flex_space_between_center{
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 1%;
    border: #767676 solid 1px;
}

.panel_container{
    >.menu{
        margin-bottom: 0;
        flex-shrink: 0;
    }

    >.panel_container_right{
        flex-grow: 1;
        padding: 3%;
        border: 1px solid rgba(34,36,38,.15);
        border-radius: .28571429rem;
    }

}