@import './utils';

.headerAdmin{
    padding: 1%;
    border: #767676 solid 1px;
}

.logo{
    max-height: 100px;
    max-width: 100px;
    min-height: 48px;
    min-width: 48px;
    position: relative;
    z-index: -1;
}

.logoLink{
    display: inline-block;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .logoLink{
        margin: 1%;
        div{
            width: 100%;
            .logo{
                width: 100%;
            }
        }
    }
}

header.header{
    nav{
        margin-left: (100%-90);
        margin-right: (100%-90);
        padding: 10px 0 ;
        div.menu{
            div.item a.dark_hover:hover{
                transition: color 0.25s ease-in-out;
                color: #000000;
            }
        }
    }
    background-color: #767676;
}

.header_mobile{
    width: 100%;
    background-color: #767676;
    padding: 1% 0;
    overflow-x: scroll;
}